@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.input._error {
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.title-main {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
  text-align: center;
  color: #363838;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header._scroll {
  background: rgba(255, 255, 255, 0.788);
  height: 95px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li:not(:last-child) {
  margin: 0px 78px 0px 0px;
}

.header__link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: rgba(54, 56, 56, 0.9033);
}

.icon-menu {
  display: none;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer__top {
  background: #DFDFDF;
  padding-top: 60px;
  padding-bottom: 80px;
}

.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__copy {
  background: #363838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #A1A1A1;
  padding-top: 45px;
  padding-bottom: 45px;
}

.form-contact__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #363838;
  margin-bottom: 20px;
}

.form-contact__text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #5A5A5A;
  margin-bottom: 25px;
}

.form-contact__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.form-contact__mail img {
  margin-right: 10px;
}

.form-contact__mail span {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #363838;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.form-contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-contact__input {
  width: 370px;
  height: 40px;
  opacity: 0.7;
  border: 1px solid #383636;
  border-radius: 21px;
  margin-right: 10px;
}

.form-contact__button {
  background: #363838;
  border-radius: 21px;
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;
  color: #FFFFF0;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}

.social-footer__list li:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.social-footer__link,
.faq__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* identical to box height, or 200% */
  color: #707070;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.social-footer__link img,
.faq__link img {
  margin-right: 9px;
}

.faq__list li:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .main-slider{
  background: url(../img/main/bg-slider.png) no-repeat center right; }

.main-slider {
  position: relative;
  margin-bottom: 155px;
}

.body-slider__image {
  padding-left: 10%;
  padding-top: 6%;
  margin-right: 20px;
  max-width: 880px;
}

.body-slider__image img {
  width: 100%;
}

.body-slider__content-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 134px;
  color: #363838;
  padding-bottom: 25px;
  position: relative;
}

.body-slider__content-title::after {
  content: "";
  width: 190px;
  height: 1px;
  background: #5A5A5A;
  position: absolute;
  bottom: 0;
  left: 0;
}

.body-slider__content-text {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  color: #5A5A5A;
}

.body__slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 40%;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px;
  background: #363838;
  margin-right: 30px;
}

.swiper-pagination-bullet-active {
  background: #FFEF35;
}

.furniture-collection {
  padding-bottom: 110px;
}

.furniture-collection__title {
  padding-bottom: 35px;
  position: relative;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.furniture-collection__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.furniture-collection__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #6D7278;
  width: 250px;
  height: 1px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.furniture-collection__text {
  margin-top: 25px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  text-align: center;
  color: #5A5A5A;
  margin-bottom: 60px;
}

.furniture-collection__row {
  display: -ms-grid;
  display: grid;
  margin-left: 25px;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.furniture-collection__item {
  position: relative;
  max-width: 350px;
  max-height: 350px;
}

.furniture-collection__item img {
  width: 100%;
  height: 100%;
}

.furniture-collection__click {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.furniture-collection__click-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #363838;
  padding-bottom: 25px;
  position: relative;
}

.furniture-collection__click-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #6D7278;
  width: 200px;
  height: 1px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.furniture-collection__click-text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  margin-top: 30px;
  color: #707070;
}

._no-webp .drinking{
  background: url("../img/main/Group-2.jpg") 0 0 no-repeat; }

.drinking {
  padding-top: 190px;
  padding-bottom: 190px;
  margin-bottom: 90px;
}

.drinking__content {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.drinking__content-title {
  max-width: 500px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.drinking__content-title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.drinking__content-text {
  max-width: 500px;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #5A5A5A;
}

.inspiration__container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.inspiration__title {
  margin-bottom: 25px;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.inspiration__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.inspiration__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.inspiration__item {
  margin: 0px 15px;
}

.item-inspiration {
  margin-bottom: 100px;
}

.item-inspiration__image {
  margin-bottom: 40px;
}

.item-inspiration__image-wrap {
  margin-bottom: 25px;
}

.item-inspiration__data {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #707070;
  margin-bottom: 20px;
}

.item-inspiration__data-wrap {
  margin-bottom: 20px;
}

.item-inspiration__content a {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */
  color: #363838;
}

.works {
  margin-bottom: 115px;
}

.works__container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.works__title {
  margin-bottom: 45px;
  -webkit-transform: translate(120%, 0);
      -ms-transform: translate(120%, 0);
          transform: translate(120%, 0);
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.works__title._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  width: 250px;
}

.works__item:not(:last-child) {
  margin: 0px 340px 0px 0px;
}

.works__line {
  margin: 10px 0px;
  width: 1110px;
  height: 2px;
  background: #363838;
  opacity: 0.7;
}

.item-works-1 {
  position: relative;
}

.item-works-1::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 0px;
  width: 10px;
  height: 10px;
  background: #363838;
  border-radius: 50%;
}

.item-works-2 {
  position: relative;
}

.item-works-2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 20px;
  width: 2px;
  background: #363838;
}

.item-works-3 {
  position: relative;
  margin-top: 35px;
  margin-left: 27%;
}

.item-works-3::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 0;
  height: 20px;
  width: 2px;
  background: #363838;
}

.item-works__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.item-works__image {
  margin-right: 3px;
}

.item-works__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  color: #363838;
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.item-works__title._active {
  opacity: 1;
}

.item-works__text {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  color: #5A5A5A;
}

.tabs-block {
  margin-bottom: 105px;
}

.tabs-block__navigation {
  max-width: 870px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.tabs-block__navigation-item {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0px 10px;
  border: 1px solid rgba(69, 70, 71, 0.5);
  border-radius: 20px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  cursor: pointer;
  /* identical to box height, or 200% */
  text-align: center;
  color: #8F8D8D;
}

.tabs-block__navigation-item._active {
  background: #FFEF35;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #363838;
  border: none;
}

.tabs-block__body {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.body-tabs {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 479.98px) {
  .header__list-mobile {
    display: none;
  }
}

@media (min-width: 820px) {
  .body-tabs__item img {
    width: 100%;
    height: 100%;
    max-height: 1150px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .body-tabs__item-1 {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1776px) {
  .furniture-collection__row {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
  }
}

@media (max-width: 1500px) {
  .furniture-collection__row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1160px) {
  .item-inspiration__image {
    max-width: 540px;
    height: 308px;
  }

  .item-inspiration__image img {
    width: 100%;
    height: 308px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1150px) {
  .furniture-collection__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1110px) {
  .title-main {
    font-size: calc(20px + 16 * ((100vw - 320px) / 790));
  }

  .title-main {
    line-height: calc(30px + 21 * ((100vw - 320px) / 790));
  }

  .footer__top {
    padding-top: calc(25px + 35 * ((100vw - 320px) / 790));
  }

  .footer__top {
    padding-bottom: calc(25px + 55 * ((100vw - 320px) / 790));
  }

  .footer__copy {
    padding-top: calc(25px + 20 * ((100vw - 320px) / 790));
  }

  .footer__copy {
    padding-bottom: calc(25px + 20 * ((100vw - 320px) / 790));
  }

  .main-slider {
    margin-bottom: calc(90px + 65 * ((100vw - 320px) / 790));
  }

  .body-slider__content-title {
    font-size: calc(40px + 70 * ((100vw - 320px) / 790));
  }

  .body-slider__content-title {
    line-height: calc(25px + 109 * ((100vw - 320px) / 790));
  }

  .furniture-collection {
    padding-bottom: calc(45px + 65 * ((100vw - 320px) / 790));
  }

  .furniture-collection__text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 790));
  }

  .furniture-collection__text {
    margin-bottom: calc(35px + 25 * ((100vw - 320px) / 790));
  }

  .drinking {
    padding-top: calc(90px + 100 * ((100vw - 320px) / 790));
  }

  .drinking {
    padding-bottom: calc(90px + 100 * ((100vw - 320px) / 790));
  }

  .drinking {
    margin-bottom: calc(40px + 50 * ((100vw - 320px) / 790));
  }

  .drinking__content-title {
    font-size: calc(30px + 30 * ((100vw - 320px) / 790));
  }

  .drinking__content-title {
    line-height: calc(35px + 45 * ((100vw - 320px) / 790));
  }

  .item-inspiration {
    margin-bottom: calc(50px + 50 * ((100vw - 320px) / 790));
  }

  .item-inspiration__image-wrap {
    margin-bottom: calc(13px + 12 * ((100vw - 320px) / 790));
  }

  .item-inspiration__data {
    font-size: calc(12px + 2 * ((100vw - 320px) / 790));
  }

  .item-inspiration__data {
    line-height: calc(16px + 12 * ((100vw - 320px) / 790));
  }

  .item-inspiration__data {
    margin-bottom: calc(5px + 15 * ((100vw - 320px) / 790));
  }

  .item-inspiration__content a {
    font-size: calc(16px + 8 * ((100vw - 320px) / 790));
  }

  .item-inspiration__content a {
    line-height: calc(25px + 13 * ((100vw - 320px) / 790));
  }

  .works {
    margin-bottom: calc(65px + 50 * ((100vw - 320px) / 790));
  }

  .works__title {
    margin-bottom: calc(22px + 23 * ((100vw - 320px) / 790));
  }

  .item-works__title {
    font-size: calc(13px + 3 * ((100vw - 320px) / 790));
  }

  .item-works__text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 790));
  }

  .tabs-block {
    margin-bottom: calc(50px + 55 * ((100vw - 320px) / 790));
  }

  .tabs-block__navigation {
    margin-bottom: calc(25px + 25 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .main-slider {
    padding-top: 40px;
  }
}

@media (max-width: 950px) {
  .footer__top-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-contact {
    margin-bottom: 60px;
  }

  .social-footer {
    margin-bottom: 40px;
  }

  .faq {
    margin-bottom: 40px;
  }
}

@media (max-width: 820px) {
  .tabs-block__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-block__navigation-item {
    font-size: 11px;
    padding: 0px 5px;
  }

  .tabs-block__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-tabs__item {
    max-width: 493px;
    max-height: 559px;
  }

  .body-tabs__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767.98px) {
  .header__list li:not(:last-child) {
    margin: 0px 58px 0px 0px;
  }

  .form-contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-contact__input {
    margin-bottom: 15px;
  }

  .main-slider {
    padding-top: 60px;
  }

  .body-slider__content-title {
    font-size: 60px !important;
  }

  .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12px;
            flex: 0 0 12px;
    height: 12px;
  }

  .furniture-collection__row {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .inspiration__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .works__item:not(:last-child) {
    margin: 0px 140px 0px 0px;
  }

  .tabs-block__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 700px) {
  .body__slider-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 590px) {
  .body-slider__content-title {
    font-size: 35px;
    line-height: 70px;
  }
}

@media (max-width: 550px) {
  .header__list li:not(:last-child) {
    margin: 0px 38px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .header._scroll {
    height: 55px;
  }

  .header__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list {
    display: none;
  }

  .header__list-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 80px;
    display: block;
    list-style-type: none;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: #969494;
    color: white;
    -webkit-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
  }

  .header__list-mobile li {
    margin-bottom: 30px;
  }

  .header__list-mobile._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header__link {
    font-size: 23px;
    text-align: center;
    color: white;
  }

  .header__logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .form-contact {
    margin-bottom: 35px;
  }

  .form-contact__input {
    width: 300px;
    height: 30px;
  }

  .form-contact__button {
    width: 120px;
    height: 30px;
  }

  .social-footer {
    margin-bottom: 25px;
  }

  .faq {
    margin-bottom: 25px;
  }

  .main-slider {
    padding-bottom: 30px;
  }

  .body-slider__content-title {
    font-size: 30px;
    line-height: 60px;
  }

  .swiper-pagination-bullets {
    bottom: 10px;
  }

  .item-works-3 {
    margin-left: 15%;
  }

  .tabs-block__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 18px;
  }

  .tabs-block__navigation-item {
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .works__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: rgba(54, 56, 56, 0.6033);
    text-decoration: underline;
  }

  .form-contact__mail span:hover {
    color: #6e7070;
  }

  .form-contact__button:hover {
    background: #a79f9f;
    color: #363838;
  }

  .social-footer__link:hover,
  .faq__link:hover {
    color: #bdbcbc;
  }

  .furniture-collection__click:hover {
    opacity: 1;
  }

  .item-inspiration__data:hover {
    text-decoration: underline;
  }

  .item-inspiration__content a:hover {
    text-decoration: underline;
  }
}

._webp .main-slider{ background: url(../img/main/bg-slider.webp) no-repeat center right; }

._webp .drinking{ background: url(../img/main/Group-2.webp) 0 0 no-repeat; }